/obj
/bin

/omp_obj
/omp_bin

/test_obj
/test_bin
/test_files

/data
/models
/out
/measures

/out_comparison
/logs

/timm_train_vit/data
.vscode

/deprecated
/gpu_out

*.nsys-rep
cuBLAS.cu
run_cuBLAS.sh
build_cuBLAS.sh
/timm_train_vit/*
json/*
*.png
SbatchMan/*
cuDNN_explained.cu
